@import '../utils/variables';

.hero-section {
  display: block;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-color: map-get($colors, 'secondary');
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero_img.jpg');
  background-repeat: no-repeat;
  background-position: center;

  &__title {
    color: map-get($colors, 'main');
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    margin-bottom: 30px;
  }

  &__bt {
    width: 200px;
    height: 50px;
  }
}
