@import '../utils/variables';

.page-footer {
  background-color: map-get($colors, 'secondary-bg');

  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-adds-box {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}
