.partners-list {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.partners-list-item {
  width: 170px;
  height: 90px;
}

.partners-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  transition-property: border-color;
  @extend %transition;
}

.partners-logo {
  fill: var(--icon);
  transition-property: fill;
  @extend %transition;

  .partners-list-link:hover &,
  .partners-list-link:focus & {
    fill: var(--active-color);

    &:hover,
    &:focus {
      border-color: var(--active-color);
    }
  }
}
