.team-section {
  background-color: var(--third-background-color);
}

.team-section__list {
  display: flex;
}

.team-section__item {
  width: 270px;
  text-align: center;

  background-color: var(--main-color);

  box-shadow: var(--box-shadow-fotocard);
  border-radius: 0px 0px 4px 4px;
}

.team-section__item:not(:last-child) {
  margin-right: 30px;
}

.team-section__box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-section__names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}

.team-section__profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);

  margin-bottom: 16px;
}
