@import '../utils/variables';

.team {
  background-color: map-get($colors, 'third-background');

  &__list {
    display: flex;
  }

  &__item {
    width: 270px;
    text-align: center;

    background-color: map-get($colors, 'main');

    box-shadow: map-get($shadow, 'fotocard');
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__box {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__names {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;

    margin-bottom: 10px;
  }

  &__profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: map-get($colors, 'secondary-text');

    margin-bottom: 16px;
  }
}
