@import '../utils/variables';
@import '../utils/transition';

.works {
  display: flex;
  flex-wrap: wrap;

  margin-right: calc(-1 * #{map-get($gap, 'works-item')});
  margin-bottom: calc(-1 * #{map-get($gap, 'works-item')});

  &__item {
    width: 370px;
    flex-basis: calc(100% / 3 - #{map-get($gap, 'works-item')});
    margin-right: map-get($gap, 'works-item');
    margin-bottom: map-get($gap, 'works-item');
  }

  &__link {
    display: block;

    @include transition(box-shadow);

    &:hover,
    &:focus {
      box-shadow: map-get($shadow, 'works-link');
    }
  }

  &__viewbox {
    position: relative;
    overflow: hidden;
  }

  &__overlay {
    position: absolute;
    left: 0;
    bottom: -100%;

    display: block;
    width: 100%;
    height: 100%;

    background-color: map-get($colors, 'bg-overlay');

    font-size: 18px;
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: 0.03em;
    text-align: left;
    color: map-get($colors, 'main');
    padding: 63px 24px;

    @include transition(transform);

    .works__link:hover &,
    .works__link:focus & {
      transform: translateY(-100%);
      opacity: 1;
      visibility: visible;
      pointer-events: visible;
    }
  }

  &__specification {
    padding: 20px 24px;
    border: map-get($border, 'works');
  }

  &__name-product {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: map-get($colors, 'main-text');

    margin-bottom: 4px;
  }

  &__type-product {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: map-get($colors, 'secondary-text');
  }
}
