@import '../utils/variables';
@import '../utils/transition';

.address {
  font-style: normal;

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: map-get($colors, 'third-text');

    @include transition(color);

    &:hover,
    &:focus {
      color: map-get($colors, 'highlighting');
    }

    &--location {
      color: map-get($colors, 'main');
    }
  }
}
