@import '../utils/variables';
@import '../utils/transition';

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  &__item:not(:last-child) {
    margin-right: 8px;
  }

  &__button {
    background-color: map-get($colors, 'third-background');
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border-style: unset;
    border-radius: 4px;
    color: map-get($colors, 'main-text');

    padding: 6px 22px;

    @include transition(background-color + color + box-shadow);

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: map-get($colors, 'highlighting');
      color: map-get($colors, 'main');
      box-shadow: map-get($shadow, 'bt-filter');
    }
  }
}
