@import '../utils/variables';

.follow-us-box {
  margin-left: auto;

  &__text {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: map-get($colors, 'main');
    text-transform: uppercase;

    margin-bottom: 20px;
  }

  &__form {
    display: flex;
    align-items: center;
  }

  &__input {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: map-get($colors, 'third-text');

    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;

    background-color: map-get($colors, 'bg-input');
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: map-get($shadow, 'form');

    width: 358px;

    margin-right: 12px;

    &::placeholder {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.25;
      letter-spacing: 0.03em;
      color: map-get($colors, 'third-text');
    }
  }

  &__bt {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    padding: 0px 28px;
    box-shadow: map-get($shadow, 'form');
  }

  &__icon {
    fill: map-get($colors, 'main');
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
}
