@import '../utils/variables';

.join-box__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: map-get($colors, 'main');

  margin-bottom: 20px;
}
