@import '../utils/variables';

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: map-get($colors, 'main-text');

  margin-bottom: 50px;
}
