:root {
  --main-color: #ffffff;
  --active-color: #2196f3;
  --second-color: #757575;
  --background-hero-footer: #2f303a;
  --btn-color: #f5f4fa;
  --main-text-color: #212121;
  --section-our-team-color: #f5f4fa;
  --contacts-foter-text-color: rgba(255, 255, 255, 0.6);
  --sing-up-border: rgba(255, 255, 255, 0.3);
  --border-color: #eeeeee;
  --color-shadow1: rgba(0, 0, 0, 0.12);
  --color-shadow2: rgba(0, 0, 0, 0.14);
  --color-shadow3: rgba(0, 0, 0, 0.2);
  --color-shadow4: rgba(0, 0, 0, 0.1);
  --color-shadow5: rgba(0, 0, 0, 0.08);
  --color-shadow6: rgba(0, 0, 0, 0.06);
  --color-shadow7: rgba(0, 0, 0, 0.16);
  --color-shadow8: rgba(0, 0, 0, 0.15);
  --border-bottom: #ececec;
  --overlay: rgba(47, 48, 58, 0.4);
  --backgroun-section-what-we-are-do: rgba(47, 48, 58, 0.8);
  --icon: #afb1b8;
  --project-overlay: rgba(33, 150, 243, 0.9);
  --backdrop: rgba(0, 0, 0, 0.2);
  --border-form: rgba(33, 33, 33, 0.2);
  --textarea: rgba(117, 117, 117, 0.5);
  --active-btn: #188ce8;
}
